import os

os.environ['ACTIVE_THEME'] = "usv"
os.environ['BASE_URL'] = "localhost"
os.environ['COOKIE_SECRET'] = "36v873465c93j513985m73908v5be908ctze"
os.environ['DB_NAME'] = "apptrack"
os.environ['ENVIRONMENT'] = "dev"
os.environ['MONGODB_URL'] = "mongodb://localhost:27017/apptrack"
os.environ['PATH'] = "/app/bin:/app/vendor/nginx/sbin:/app/vendor/php/bin:/app/vendor/php/sbin:/usr/local/bin:/usr/bin:/bin"
os.environ['SITE_INTRO'] = '<p><b>Applicant Tracking</b></p><p>Welcome!</p>'
os.environ['SITE_TITLE'] = "Applicant Tracking"
os.environ['TWITTER_CONSUMER_KEY'] = "TODO" # TODO
os.environ['TWITTER_CONSUMER_SECRET'] = "TODO" # TODO
os.environ['TZ'] = "US/Eastern"
os.environ['SENDGRID_SECRET'] = "TODO" # TODO
os.environ['SENDGRID_USER'] = "TODO" # TODO
os.environ['ZIGGEO_TOKEN'] = "TODO" # TODO