{% extends '../base.html' %}

{% block title %}Apply | {% end %}

{% block body_class %}apply{% end %}

{% block content %}
<div id="main" role="main">

	<h1>
		Submission: {{submission["username"]}}
	</h1>
	<a href="/apply/admin/list" class="btn btn-default">Back to dashboard</a>
	<br />
	<br />
	<table class="table">
		<tr>
			<th>
				User Name
			</th>
			<td>
				<a href="http://twitter.com/{{ submission["username"] }}" target="_blank">{{ submission["username"] }}</a>
			</td>
		</tr>
		<tr>
			<th>
				Name
			</th>
			<td>
				<a href="https://www.google.com/#q={{ submission["name"] }}" target="_blank">{{ submission["name"] }}</a>
			</td>
		</tr>
		<tr>
			<th>
				Email
			</th>
			<td>
				<a href="mailto:{{ submission["email"] }}">{{ submission["email"] }}</a>
			</td>
		</tr>
		<tr>
			<th>
				Your Rating
			</th>
			<td>
				{% if helper.has_rated_on(submission) %}
					<div class="rateit submission-rating" data-submission="{{ submission['username'] }}" data-rateit-value="{{ helper.rating_of(submission) }}" data-rateit-ispreset="true" data-rateit-resetable="false"></div>
				{% else %}
					<div class="rateit submission-rating" data-submission="{{ submission['username'] }}" data-rateit-resetable="false"></div>
				{% end %}
			</td>
		</tr>
		<tr>
			<th>
				Average Rating
			</th>
			<td>
				{% if helper.has_rated_on(submission) %}
					<div class="rateit" data-rateit-value="{{ helper.average_rating_of(submission) }}" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
				{% else %}
					&mdash;
				{% end %}
			</td>
		</tr>
		<tr>
			<th>
				Web
			</th>
			<td>
				{{ submission["web"] }}
			</td>
		</tr>
		<tr>
			<th>
				Projects
			</th>
			<td>
				{{ submission["projects"] }}
			</td>
		</tr>
		<tr>
			<th>
				Submission Date
			</th>
			<td>
				{{ submission["submission_date"] }}
			</td>
		</tr>
		<tr>
			<th>
				Creation Date
			</th>
			<td>
				{{ submission["creation_date"] }}
			</td>
		</tr>
		<tr>
			<th>
				Video 1
			</th>
			<td>
				{% if submission["video1_token"] %}
					<ziggeo ziggeo-popup ziggeo-width=320 ziggeo-height=200 ziggeo-video="{{ submission["video1_token"] }}"></ziggeo>
				{% else %}
					No Video Submission
				{% end %}
			</td>
		</tr>
		<tr>
			<th>
				Video 2
			</th>
			<td>
				{% if submission["video2_token"] %}
					<ziggeo ziggeo-popup ziggeo-width=320 ziggeo-height=200 ziggeo-video="{{ submission["video2_token"] }}"></ziggeo>
				{% else %}
					No Video Submission
				{% end %}
			</td>
		</tr>
	</table>
</div>
{% end %}


{% block javascript %}
<link rel="stylesheet" href="//assets.ziggeo.com/css/ziggeo-betajs-player.min.css" />
<script src="//assets.ziggeo.com/js/ziggeo-json2-betajs-player.min.js"></script>
<script>ZiggeoApi.token = "{{ settings.get('ZIGGEO_TOKEN') }}";</script>
<link rel="stylesheet" href="/static/css/rateit.css" />
<script src="/static/js/jquery.rateit.min.js"></script>
<script type="text/javascript">
    $(".submission-rating").bind('rated', function (event, value) {
    	var submission = $(this).attr("data-submission");
    	$.ajax("/apply/admin/api/rate/" + submission + "?rating=" + value, {
    		type: "POST"
    	});
    });
</script> 
{% end %}

