{% extends '../base.html' %}

{% block title %}{{ settings.get('apply_title') }} | {% end %}

{% block body_class %}jobs{% end %}

{% block content %}
<div id="main" role="main" class="apply">
	<div class="row">
		<div class="col-sm-4">
			<h1>
				{{ settings.get('apply_title') }}
			</h1>
			<p class="text-muted" style="font-size: .9em; margin: 40px 40px 0 0">Note: if you use your browser's back button and re-submit the last page, the video you originally submitted will still be the one saved with your submission.</p>
		</div><!-- /.col -->
		<div class="col-sm-8">
			<div class="alert alert-success">
				<b>Thanks!</b><br />
				Your submission is complete.
			</div>
			<p>
				{{ settings.get('STRING_CONFIRMATION') }}
			</p>	

			<p><small>
				{{ settings.get('STRING_BOTTOM') }}
			</small></p>
		</div>
	</div>

</div>

{% end %}


{% block javascript %}
{% end %}