{% extends '../base.html' %}

{% block title %}Apply | {% end %}

{% block body_class %}jobs{% end %}

{% block content %}
<div id="main" role="main" class="apply">
	<div class="row">
		<div class="col-sm-4">
			<h1>
				Apply
			</h1>
			<p class="text-muted step">(step 2 of 3)</p>
		</div><!-- /.col -->
		<div class="col-sm-8">
			<div id="intro">
				<div class="alert alert-success">
					<b>Thanks!</b>
				</div>
				<p>Next, we'd like to ask you two questions, which you can respond to using the embedded video recorder.  The questions are:</p>
				<ol>
					<li><b>Why are you interested in the position?</b></li>
					<li><b>What inspires you the most, and why?</b></li>
				</ol>
				<p> 
					We do not expect your video submissions to be perfect - we just want to learn more about you and your thinking. You will be able to re-record your video submission twice. 
				</p>
				<p> 
					We are using <a href="http://ziggeo.com" target="_blank">Ziggeo</a> to record videos securely and privately. Your submission will be available only to our employees and will be deleted when this process is completed.
				</p>
				<p>When you're ready, continue to the next screen where you can start the video recorder for the first question.</p>
				
				<div style="text-align:center">
					<a class="btn btn-large btn-primary" id="lets-go">Ready? Let's go</a>
				</div>

				</br>
				<p><small>
					We support workplace diversity and does not discriminate in employment matters on the basis of race, color, religion, gender, national origin, age, military service eligibility, veteran status, sexual orientation, marital status, disability, or any other protected class.
				</small></p>
			</div><!-- /#intro -->

			<div id="apply-form-container" style="display:none">
				<form method="POST" action="/apply" id="apply-form">		
					<input type="hidden" name="state" value="1" />
					<div class="well interview-question">
						<h2>Why are you interested in the position?</h2>
						<p class="text-muted" style="font-size: 1.2em">(up to 90 seconds)</p>
					</div>
					<ziggeo ziggeo-tags="{{ submission["username"] }}"
						    ziggeo-limit=90
						    ziggeo-input_bind="videotoken"
						    ziggeo-form_accept="#apply-form"
					></ziggeo>
					
					<div class="alert alert-info" id="superwarn" style="display:none;">
						<b>Great!</b> Note: once you hit "continue" you will not be able to come back to this question.
					</div>
					
					<input class="btn btn-large btn-primary pull-right" type="submit" value="Continue to video answer #2" id="submit" style="display:none" />
				</form>
			</div><!-- /.apply-form-container -->
		</div>
		
	</div><!-- /.row -->
</div>
{% end %}


{% block javascript %}
<link rel="stylesheet" href="//assets.ziggeo.com/css/ziggeo-betajs-player.min.css" />
<script src="//assets.ziggeo.com/js/ziggeo-json2-betajs-player.min.js"></script>
<script>ZiggeoApi.token = "{{ settings.get('ZIGGEO_TOKEN') }}";</script>
<script>
$(document).ready(function () {
	$('#lets-go').click(function(e) {
		e.preventDefault();
		$('#apply-form-container').slideDown();
		$('#intro').slideUp();
	});
	ZiggeoApi.Events.on("submitted", function () {
		 $('#apply-no-video').hide();
		 $('#superwarn').show();
		 $("#submit").show();
	});
	
	
});
</script>
{% end %}