{% extends '../base.html' %}

{% block title %}Apply | {% end %}

{% block body_class %}jobs{% end %}

{% block content %}
<div id="main" role="main" class="apply">
	<div class="row">
		<div class="col-sm-4">
			<h1>
				Apply
			</h1>
			
			<p class="text-muted step">(step 3 of 3)</p>
			
			<p class="text-muted" style="font-size: .9em; margin: 40px 40px 0 0">Note: if you use your browser's back button and re-submit the last page, the video you originally submitted will still be the one saved with your application.</p>
		</div><!-- /.col -->
		
		<div class="col-sm-8">	
			<div class="alert alert-success" id="flash">
				<b>Great!</b> &nbsp; Last question:
			</div> 
				<form method="POST" action="/apply" id="apply-form">
					<input type="hidden" name="state" value="2" />
					<div class="well interview-question">
						<h2>What inspires you the most, and why?</h2>
						<p class="text-muted" style="font-size: 1.2em">(up to 120 seconds)</p>
					</div>
					<ziggeo ziggeo-tags="{{ submission["username"] }}"
						    ziggeo-limit=120
						    ziggeo-input_bind="videotoken"
						    ziggeo-form_accept="#apply-form"
					></ziggeo>
					
					<div class="alert alert-info" id="superwarn" style="display:none;">
						<b>Great!</b> Note: once you hit "complete" you will not be able to come back to this question.
					</div>
					<input class="btn btn-large btn-primary pull-right" type="submit" value="Complete application" id="submit" style="display:none" />
				</form>
			</div>
			
			<p><small>
				We support workplace diversity and does not discriminate in employment matters on the basis of race, color, religion, gender, national origin, age, military service eligibility, veteran status, sexual orientation, marital status, disability, or any other protected class.
			</small></p>
			</div><!-- /.col -->
	</div><!-- /.row -->
</div>
{% end %}


{% block javascript %}
<link rel="stylesheet" href="//assets.ziggeo.com/css/ziggeo-betajs-player.min.css" />
<script src="//assets.ziggeo.com/js/ziggeo-json2-betajs-player.min.js"></script>
<script>ZiggeoApi.token = "{{ settings.get('ZIGGEO_TOKEN') }}";</script>
<script>
$(document).ready(function () {
	ZiggeoApi.Events.on("submitted", function () {
		 $('#apply-no-video').hide();
		 $('#superwarn').show();
		 $("#submit").show();
	});
	function hideFlash() { $("#flash").slideUp() } 
	window.setInterval(hideFlash, 2000); 
	
});
</script>
{% end %}