{% extends '../base.html' %}

{% block body_class %}conversation{% end %}

{% block content %}
  <div id="main" role="main">
    
    <div class="row">
      <div class="col-sm-4">
      <div class="well" style="text-align:center">
        <img src="{{ user['user'].get('profile_image_url') }}" />  
        <h2 style="margin-bottom: 0;"><a href="http://twitter.com/{{screen_name}}" target="_blank">@{{screen_name}}</a> on Twitter</h2>
      </div>

    </div>
    <div class="col-sm-8">

      <ul class="nav nav-tabs" style="margin-top: 0">
        {% if screen_name == current_user %}
          <li class="{{ 'active' if section == 'settings' else '' }}"><a class="" href="/user/{{ screen_name }}/settings">Settings</a></li>
        {% end %}
      </ul>
      <br />

        {% if section != "settings" %}

      <div id="pagination-next-prev"></div>
      {% end #not settings %}
      {% if section == "settings" %}
        
        {% if msg and msg == "updated" %}
          <div class="alert alert-success low-pro">
            Updated!
          </div>
        {% end %}
        
        {% if msg and msg == "twitter-thanks" %}
          <div class="alert alert-info low-pro">
            Great!  Now can update your settings and be off to the races.
          </div>
        {% end %}
        
      <h3 style="margin-top:0">Connections</h3>
        
      <table class="table">
        <tr class="complete">
          <th class="step">
            <span class="glyphicon glyphicon-ok"></span>
          </th>
          <th>
            {% if 'user' in user.keys() %}
              <img src="/static/img/connect-twitter-active.png" /> &nbsp;
            {% else %}
              <img src="/static/img/connect-twitter-inactive.png" /> &nbsp;
            {% end %}
          </th>
          <td>
            @{{ current_user }}
          </td>
          <td></td>
          <td class="text-muted">(currently this cannot be changed)</td>
        </tr>
      </table>
      
      <h3>Settings</h3>
      <form id="submit-form" class="" action="/auth/email/" method="POST">
      <table class="table">
      {% module xsrf_form_html() %}
      {% if 'email_address' in user and user['email_address'] %}
      <tr class="complete">
      {% else %}
      <tr class="">
      {% end %}
        <th>Email</th>
        {% if 'email_address' in user.keys()  %}
        {% set email_address = user['email_address'] %}
        {% else %}
        {% set email_address = "" %}
        {% end %}
        <td colspan="2"><input type="text" class="form-control" name="email" value="{{ email_address }}" />
          {% if 'email_address' not in user or not user['email_address'] %}
            <div class="alert alert-info low-pro">
              &uarr; Please add your email address.
            </div>
          {% end %}
        </td>
      </tr>
      </table>
      <p><input type="submit" value="Update" class="btn btn-default" /></p>
      </form>
      
      {% end %}
  
      </div><!-- /col -->
    </div> <!-- /row -->
  </div>
{% end %}

{% block javascript %}
  <script type="text/javascript">
    $(document).ready(function() {
      {% if current_user %}
        $('#submit-modal .submit').show();
        {% if current_user in settings.get('staff') %}
          $('#submit-modal .login').hide();
          $('#submit-modal .submit-staff').show();
          $('a.mute').click(function(e) {
            e.preventDefault();
            if (confirm("are you sure?")) {
              window.location = this.href;
            }
          });
        {% else %}
          $('#submit-modal .login').hide();
        {% end %}
      {% end %}
    }); 
  </script>
{% end %}
